.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  object-fit: scale-down;
  width: 100%;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db956;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
}
